<div class="login-container">
    <img class="film" src="./film.png" alt="film">
    <div class="logo">Rotten Potatoes</div>
    <div class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius consectetur sapiente nostrum omnis ab alias iure
        harum ipsam reprehenderit iusto quia, ipsum ducimus odio? Sed, quae! Magnam, sint? Velit, molestiae!
    </div>
    <div class="login-form">

        <div class="form-group">
            <label for="uname">Username</label>
            <input type="text" formControlName="name" id="name" placeholder="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="pword">Password</label>
            <input type="password" formControlName="pword" id="pword" placeholder="pword" class="form-control" />
        </div>
        <div class= "btn-container">
            <button class="btn btn-dark">Login</button>
        </div>
    </div>